html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}
header {
  background-image: url("../media/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav {
  background-color: cadetblue;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
